<div class="row">
  <%= form_for(@user, :as => :user, :url => password_path(:user), :html => { :class => "col-sm-4" }) do |f| %>
    <h2>Forgot Your Password?</h2>
    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control" %>
    </div>

    <div><%= f.submit "Send me instructions", :class => "btn btn-primary" %></div>

    <br />
    <p>Already a user? <%= link_to "Sign In", new_user_session_path, :class => "traditional-link" %></p>
    <p>Don't have an account? <%= link_to "Sign Up", new_user_registration_path, :class => "traditional-link" %></p>

    <br class="clear">
  <% end %>
</div>
