<h1>Setlister</h1>

<h2>Sign up</h2>

<div class="row">
  <%= form_for(@user, :as => :user, :url => registration_path(:user), :html => { :class => "col-sm-4" }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, :placeholder => "Password Again", :class => "form-control" %>
    </div>

    <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
  <% end %>
</div>
