<% content_for :javascripts do %>
  <%= javascript_include_tag "spotify" %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      Spotify.init();
    });
  </script>
  <script type="text/mustache" id="spotify-results-template" charset="utf-8">
    {{# tracks }}
    <div class="result">
      <div class="embed">
        <iframe src="https://embed.spotify.com/?uri={{href}}" width="80" height="80" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="info">
        <p>
          {{ name }}
        </p>
        <p>
          {{ artist.name }}
        </p>
        <a href="#" class="button" data-link-to-spotify="{{href}}">Link <span class="icon-link"></span><span class="icon-refresh icon-spin"></span><span class="icon-ok"></span></a>
      </div>
    </div>
    {{/ tracks }}
  </script>
<% end %>

<div id="spotify-modal" class="modal fade" aria-labelledby="spotify-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Link to Spotify</h3>
      </div>
      <div class="modal-body">
        <form class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="icon icon-search"></span></span>
            <input class="form-control" type="search">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="well form-horizontal">
  <div class="form-group">
    <%= f.label :title, :class => "control-label col-sm-1" %>
    <div class="col-sm-3">
      <%= f.text_field :title, :class => "form-control", :autofocus => true %>
    </div>
    <%= f.label :artist, :class => "control-label col-sm-1" %>
    <div class="col-sm-3">
      <%= f.text_field :artist, :class => "form-control" %>
    </div>
    <%= f.label :year_string, "Year", :class => "control-label col-sm-1" %>
    <div class="col-sm-3">
      <%= f.text_field :year_string, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data_key, "Key", :class => "control-label col-sm-1" %>
    <div class="col-sm-3">
      <%= f.text_field :data_key, :class => "form-control" %>
    </div>
    <%= f.label :license, :class => "control-label col-sm-1" %>
    <div class="col-sm-3">
      <%= f.text_field :license, :class => "form-control" %>
    </div>
    <%= f.label :info, :class => "control-label col-sm-1" %>
    <div class="col-sm-3">
      <%= f.text_field :info, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :text, :class => "control-label col-sm-1" %>
    <div class="col-sm-11">
      <%= f.text_area :text, :class => "form-control", :rows => "100" %>
    </div>
  </div>
</div>
