<div class="row">
  <%= form_for(@user, :as => :user, :url => session_path(:user), :html => { :class => "col-sm-4" }) do |f| %>
    <h2>Sign In</h2>
    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
    </div>

    <div class="pull-left"><%= f.submit "Sign In", :class => "btn btn-primary" %></div>

    <div class="pull-left already-a-user">Don't have an account? <%= link_to "Sign Up", new_user_registration_path, :class => "traditional-link" %></div>

    <br class="clear">
  <% end %>
</div>
